{% extends 'base.html' %}


{% block title %}
Add new user's post
{% endblock %}

{% block body %}
<form method="post">
    <label for="field-name" class="form-label">Add new post:</label>
    <input
      id="field-user-id"
      class="form-control"
      type="text"
      name="post-user-id"
      title="user-id">
    <input
      id="field-title"
      class="form-control"
      type="text"
      name="post-title"
      title="title">
    <input
      id="field-body"
      class="form-control"
      type="text"
      name="post-body"
      title="body">
  <br>
    <input class="btn btn-success my-2" type="submit" value="Add post">
</form>
<div>
    <a href="{{ url_for("posts_app.list") }}">
        Back to posts list
    </a>
</div>

{% endblock %}
