{% extends 'base.html' %}

{% block title %}
    <div class="p-3 mb-2 bg-secondary text-white">
        This is my main page of this awesome project!
    </div>
{% endblock %}

{% block body %}
    <div class="container-md">
    <h3>Hot News №1</h3>
    Since that axis was formed, Arsenal have not conceded a goal before the 38th minute in 18 fixtures.
    It's providing Mikel Arteta with a fantastic platform to work from and results are going their way.
    The home defeat to Man City was their first loss in 12 home games in all competitions and Arteta's
    boys certainly deserved more than they got.
    </div>
{% endblock %}
